.alert-success {
  padding: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  border-left: 5px solid #27ae60;
  color: #27ae60;
}
.alert-danger {
  padding: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  border-left: 5px solid #c0392b;
  color: #c0392b;
}
.alert-warning {
  padding: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  border-left: 5px solid #f39c12;
  color: #f39c12;
}
